.DS_Store

.idea/
*.iml

node_modules/
dist/

target/
build/
out/

*.log
frontend.log
backend.log
backend_current.log
daily-billiards-vanilla_web/server.log
billiards-server/backend.log
billiards-server/backend_current.log

*.pid
*.tmp
*.swp
*.swo

.m2/
